.list-box {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto; 
}

table {
  width: 100%;
  min-width: 900px;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #eee;
}

button:hover {
  background-color: #ffcccc;
  cursor: pointer;
}
