<div class="login-box">
  <h3>🔐 Employee Login</h3>

  <form (ngSubmit)="loginUser()">
    <div class="form-group">
      <label>👤 Username</label>
      <input type="text" [(ngModel)]="username" placeholder="Please enter your username " name="username" required />
    </div>

    <div class="form-group password-group">
  <label for="password">🔒 Password</label>
  <div class="password-wrapper">
    <input
      [type]="showPassword ? 'text' : 'password'"
      id="password"
      class="form-control"
      name="password"
      [(ngModel)]="password"
      required
      placeholder="Please enter your username "
    />
    <span class="toggle-icon" (click)="togglePassword()" [title]="showPassword ? 'Hide' : 'Show'">
      {{ showPassword ? '🙈' : '👁️' }}
    </span>
  </div>
</div>

    <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>

    <button type="submit">Login</button>
  </form>
</div>